<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Room</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/CSS/Styles.css}">
</head>
<body>
<div class="container" style="display: block;">
    <h1>Add Room</h1>
    <form th:action="@{/room-images/save}" method="post" enctype="multipart/form-data" class="upload-form">
        <label for="roomId">Room ID:</label>
        <input type="text" id="roomId" name="roomId" required>
        <label for="image">Upload Image:</label>
        <input type="file" id="image" name="image" required>
        <button type="submit" style="margin-top: 20px;">Upload</button>
    </form>
</div>
</body>
</html>
