<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Salon Service Page</title>
   <link rel="stylesheet" href="home.css">
</head>
<body>
    <div class="nav_header" id="myHeader">
        <div class="mobile_header">
            <svg width="32px" height="32px" viewBox="0 0 24.00 24.00" fill="none" xmlns="http://www.w3.org/2000/svg"
                transform="rotate(0)">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <path d="M4 6H20M4 12H20M4 18H20" stroke="white" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round"></path>
                </g>
            </svg>
        </div>
        <header id="header">
            <div class="logo_placeholder">
                <img src="/images/logo.jpg" alt="logo" />
            </div>
            <div class="nav_links_placeholder">
                <ul class="nav_links">
                    <li class="nav_link ">
                        <a href="/home"><span>Home</span></a>
                    </li>
                    <li class="nav_link">
                        <a href="/entertainment"><span>Entertainment</span></a>
                    </li>
                    <li class="nav_link">
                        <a href="/shopping"><span>Shopping</span></a>
                    </li>
                    <li class="nav_link">
                        <a href="/tourism"><span>Tourism</span></a>
                    </li>
                    <li class="nav_link active">
                        <a href="/"><span>Pay Bills</span></a>
                    </li>
                    <li class="nav_link">
                        <a href="/hotels"><span>Hotels</span></a>
                    </li>
                </ul>
            </div>
            <div class="login-button_placeholder">
                <button class="login_button">
                    <a href="/register" class="signup-btn">Sign Up</a>
                </button>
            </div>
        </header>

    <div class="contain">
        <div class="left-section">
            <h2>Waxing</h2>
            <div class="servic">
                <div class="details">
                    <h3> arms, underarms & full legs waxing</h3>
                    <p class="info"><img src="/images/Star 2.png">4.5 (123K) Reviews | 55 Mins</p>
                    <p class="price">Starts at &#8377;499</p>
                    <button>View details</button>
                </div>
                <div class="add-button">
                    <img src="/images/hand.png" alt="hand"><br>
                    <button id="add-1">Add</button>
                    <p>5 options</p>
                </div>
            </div>

            <div class="servic">
                <div class="details">
                    <h3>Full Leg Wax</h3>
                    <p class="info"><img src="/images/Star 2.png">4.5 (123K) Reviews | 45 Mins</p>
                    <p class="price">Starts at &#8377;499</p>
                    <button>View details</button>
                </div>
                <div class="add-button">
                    <img src="/images/leg.png" alt="hello"><br>
                    <button id="add-2">Add</button>

                    <p>5 options</p>
                   
                </div>
            </div>

            <div class="servic">
                <div class="details">
                    <h3> arms, underarms & full legs waxing</h3>
                    <p class="info"><img src="/images/Star 2.png">4.5 (123K) Reviews | 45 Mins</p>
                    <p class="price">Starts at &#8377;499</p>
                    <button>View details</button>
                </div>
                <div class="add-button">
                    <img src="/images/hand.png" alt="hello"><br>
                    <button id="add-3">Add</button>
                    <p>5 options</p>
                </div>
            </div>

            <div class="servic">
                <div class="details">
                    <h3>Full Leg Wax</h3>
                    <p class="info"><img src="/images/Star 2.png">4.5 (123K) Reviews | 45 Mins</p>
                    <p class="price">Starts at &#8377;499</p>
                    <button>View details</button>
                </div>
                <div class="add-button">
                    <img src="/images/leg.png" alt="hello"><br>
                    <button id="add-4">Add</button>                    <p>5 options</p>
                </div>
            </div>
            <h2>Pedicure & manicure</h2>
            <div class="servic">
                <div class="details">
                    <h3> arms, underarms & full legs waxing</h3>     
                                   <p class="info"><img src="/images/Star 2.png">4.5 (123K) Reviews | 45 Mins</p>
                    <p class="price">Starts at &#8377;499</p>
                    <button>View details</button>
                </div>
                <div class="add-button">
                    <img src="/images/hand.png" alt="hello"><br>
                    <button id="add-5">Add</button>
                    <p>5 options</p>
                </div>
            </div>

            <div class="servic">
                <div class="details">
                    <h3>Full Leg Wax</h3>
                    <p class="info"><img src="/images/Star 2.png">4.5 (123K) Reviews | 45 Mins</p>
                    <p class="price">Starts at &#8377;499</p>
                    <button>View details</button>
                </div>
                <div class="add-button">
                    <img src="/images/leg.png" alt="hello"><br>
                    <button id="add-6">Add</button>                    <p>5 options</p>
                    
                </div>
            </div>

            <div class="servic">
                <div class="details">
                    <h3> arms, underarms & full legs waxing</h3>                  
                      <p class="info"><img src="/images/Star 2.png">4.5 (123K) Reviews | 45 Mins</p>
                    <p class="price">Starts at &#8377;499</p>
                    <button>View details</button>
                </div>
                <div class="add-button">
                    <img src="/images/hand.png" alt="hello"><br>
                    <button id="add-7">Add</button>                    <p>5 options</p>
                    
                </div>
            </div>
            <div class="servic">
                <div class="details">
                    <h3>Full Leg Wax</h3>
                    <p class="info"><img src="/images/Star 2.png">4.5 (123K) Reviews | 45 Mins</p>
                    <p class="price">Starts at &#8377;499</p>
                    <button>View details</button>
                </div>
                <div class="add-button">
                    <img src="/images/leg.png" alt="hello"><br>
                    <button id="add-8">Add</button>                    <p>5 options</p>
                    
                </div>
            </div>
            <h2>Facial</h2>
            <div class="servic">
                <div class="details">
                    <h3> arms, underarms & full legs waxing</h3>                    <p class="info"><img src="/images/Star 2.png">4.5 (123K) Reviews | 45 Mins</p>
                    <p class="price">Starts at &#8377;499</p>
                    <button>View details</button>
                </div>
                <div class="add-button">
                    <img src="/images/hand.png" alt="hello"><br>
                    <button id="add-9">Add</button>                    <p>5 options</p>
                    
                </div>
            </div>
            <div class="servic">
                <div class="details">
                    <h3>Full Leg Wax</h3>
                    <p class="info"><img src="/images/Star 2.png">4.5 (123K) Reviews | 45 Mins</p>
                    <p class="price">Starts at &#8377;499</p>
                    <button>View details</button>
                </div>
                <div class="add-button">
                    <img src="/images/leg.png" alt="hello"><br>
                    <button id="add-10">Add</button>                    <p>5 options</p>
                    
                </div>
            </div>
            <div class="servic">
                <div class="details">
                    <h3> arms, underarms & full legs waxing</h3>                    <p class="info"><img src="/images/Star 2.png">4.5 (123K) Reviews | 45 Mins</p>
                    <p class="price">Starts at &#8377;499</p>
                    <button>View details</button>
                </div>
                <div class="add-button">
                    <img src="/images/hand.png" alt="hello"><br>
                    <button id="add-11">Add</button>                    <p>5 options</p>
                    
                </div>
            </div>

            
            <div class="servic">
                <div class="details">
                    <h3>Full Leg Wax</h3>
                    <p class="info"><img src="/images/Star 2.png">4.5 (123K) Reviews | 45 Mins</p>
                    <p class="price">Starts at &#8377;499</p>
                    <button>View details</button>
                </div>
                <div class="add-button">
                    <img src="/images/leg.png" alt="hello"><br>
                    <button id="add-12">Add</button>                    <p>5 options</p>
                    
                </div>
            </div>
            <h2>Cleanup</h2>
            <div class="servic">
                <div class="details">
                    <h3> arms, underarms & full legs waxing</h3>                    <p class="info"><img src="/images/Star 2.png">4.5 (123K) Reviews | 45 Mins</p>
                    <p class="price">Starts at &#8377;499</p>
                    <button>View details</button>
                </div>
                <div class="add-button">
                    <img src="/images/hand.png" alt="hello"><br>
                    <button id="add-13">Add</button>                    <p>5 options</p>
                </div>
            </div>

            
            <div class="servic">
                <div class="details">
                    <h3>Full Leg Wax</h3>
                    <p class="info"><img src="/images/Star 2.png">4.5 (123K) Reviews | 45 Mins</p>
                    <p class="price">Starts at &#8377;499</p>
                    <button>View details</button>
                </div>
                <div class="add-button">
                    <img src="/images/leg.png" alt="hello"><br>
                    <button id="add-14">Add</button>                    <p>5 options</p>
                    
                </div>
            </div>

            <div class="servic">
                <div class="details">
                    <h3> arms, underarms & full legs waxing</h3>                    <p class="info"><img src="/images/Star 2.png">4.5 (123K) Reviews | 45 Mins</p>
                    <p class="price">Starts at &#8377;499</p>
                    <button>View details</button>
                </div>
                <div class="add-button">
                    <img src="/images/hand.png" alt="hello"><br>
                    <button id="add-15">Add</button>                    <p>5 options</p>
                </div>
            </div>

            
            <div class="servic">
                <div class="details">
                    <h3>Full Leg Wax</h3>
                    <p class="info"><img src="/images/Star 2.png">4.5 (123K) Reviews | 45 Mins</p>
                    <p class="price">Starts at &#8377;499</p>
                    <button>View details</button>
                </div>
                <div class="add-button">
                    <img src="/images/leg.png" alt="hello"><br>
                    <button id="add-16">Add</button>                    <p>5 options</p>
                </div>
            </div>
            <h2>Threading & face waxing</h2>
            <div class="servic">
                <div class="details">
                    <h3> arms, underarms & full legs waxing</h3>                    <p class="info"><img src="/images/Star 2.png">4.5 (123K) Reviews | 45 Mins</p>
                    <p class="price">Starts at &#8377;499</p>
                    <button>View details</button>
                </div>
                <div class="add-button">
                    <img src="/images/hand.png" alt="hello"><br>
                    <button id="add-17">Add</button>                    <p>5 options</p>
                </div>
            </div>
            
            <div class="servic">
                <div class="details">
                    <h3>Full Leg Wax</h3>
                    <p class="info"><img src="/images/Star 2.png">4.5 (123K) Reviews | 45 Mins</p>
                    <p class="price">Starts at &#8377;499</p>
                    <button>View details</button>
                </div>
                <div class="add-button">
                    <img src="/images/leg.png" alt="hello"><br>
                    <button id="add-18">Add</button>                    <p>5 options</p>
                </div>
            </div>

            <div class="servic">
                <div class="details">
                    <h3> arms, underarms & full legs waxing</h3>                    <p class="info"><img src="/images/Star 2.png">4.5 (123K) Reviews | 45 Mins</p>
                    <p class="price">Starts at &#8377;499</p>
                    <button>View details</button>
                </div>
                <div class="add-button">
                    <img src="/images/hand.png" alt="hello"><br>
                    <button id="add-19">Add</button>                    <p>5 options</p>
                </div>
            </div>

            
            <div class="servic">
                <div class="details">
                    <h3>Full Leg Wax</h3>
                    <p class="info"><img src="/images/Star 2.png">4.5 (123K) Reviews | 45 Mins</p>
                    <p class="price">Starts at &#8377;499</p>
                    <button>View details</button>
                </div>
                <div class="add-button">
                    <img src="/images/leg.png" alt="hello"><br>
                    <button id="add-20">Add</button>                    <p>5 options</p>
                </div>
            </div>
        

        </div>
        <div class="containe">
            <h1>Salon for Women</h1>
        
            <div class="servic-grid">
              <div class="servic-item">
                <img src="/images/legg.png" alt="Waxing">
                <p>Waxing</p>
              </div>
              <div class="servic-item">
                <img src="/images/toe.png" alt="Pedicure & Manicure">
                <p>Pedicure & Manicure</p>
              </div>
              <div class="servic-item">
                <img src="/images/facial.png" alt="Facial">
                <p>Facial</p>
              </div>
              <div class="servic-item">
                <img src="/images/clean up.png" alt="Clean Up">
                <p>Clean Up</p>
              </div>
              <div class="servic-item">
                <img src="/images/threading.png" alt="Threading & Face Waxing">
                <p>Threading & Face Waxing</p>
              </div>
            </div>
        
            <div class="cart-section">
              
                <p>Full arms, underarms & full legs waxing</p> <br>
                
             
              <button id="cart"><a href="/cartpayment.html">view cart </a> </button>
            </div>
          </div>
       
      </div>
    </div>
    </div>
    
        
      
    <script src="scripts.js">

    </script>
</body>

</html>
